{% extends 'base.html' %}

{% load static %}

{% block conteudo %}
<div class="container mt-4">

    <h2>{{ livro.titulo }}</h2>
    <hr>

    <div class="row">

        <!-- Capa -->
        <div class="col-md-4">
            {% if livro.capa %}
                <img src="{{ livro.capa.url }}"
                     class="img-fluid rounded shadow"
                     alt="Capa do livro">
            {% else %}
                <img src="{% static 'img/sem_capa.png' %}"
                     class="img-fluid rounded shadow"
                     alt="Sem capa disponível">
            {% endif %}
        </div>

        <!-- Informações -->
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Autor:</strong> {{ livro.autor }}</li>
                <li class="list-group-item"><strong>Edição:</strong> {{ livro.edicao }}</li>
                <li class="list-group-item"><strong>Editora:</strong> {{ livro.editora.nome }}</li>
                <li class="list-group-item"><strong>Data de Publicação:</strong> {{ livro.ano_publicacao }}</li>
                <li class="list-group-item"><strong>ISBN:</strong> {{ livro.isbn }}</li>
                <li class="list-group-item"><strong>Páginas:</strong> {{ livro.numero_paginas }}</li>
            </ul>
            <br>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            </a>
        </div>

    </div>
</div>
{% endblock %}
